@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: inherit;
}

html {
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}
